In [23]:
import pandas as pd
import numpy as np
import os

In [24]:
!ls '../files/'

image_labels.csv           train_baseline_helmets.csv
sample_submission.csv      train_labels.csv
test_baseline_helmets.csv  train_player_tracking.csv
test_player_tracking.csv

In [25]:
# image label dataset
image_labels = pd.read_csv('../files/image_labels.csv')

In [26]:
image_labels.head()

                               image   label  left  width  top  height
0  57503_000116_Endzone_frame443.jpg  Helmet  1099     16  456      15
1  57503_000116_Endzone_frame443.jpg  Helmet  1117     15  478      16
2  57503_000116_Endzone_frame443.jpg  Helmet   828     16  511      15
3  57503_000116_Endzone_frame443.jpg  Helmet   746     16  519      16
4  57503_000116_Endzone_frame443.jpg  Helmet   678     17  554      17

In [27]:
image_labels[image_labels.label != 'helmet']

                                     image   label  left  width  top  height
0        57503_000116_Endzone_frame443.jpg  Helmet  1099     16  456      15
1        57503_000116_Endzone_frame443.jpg  Helmet  1117     15  478      16
2        57503_000116_Endzone_frame443.jpg  Helmet   828     16  511      15
3        57503_000116_Endzone_frame443.jpg  Helmet   746     16  519      16
4        57503_000116_Endzone_frame443.jpg  Helmet   678     17  554      17
...                                    ...     ...   ...    ...  ...     ...
193731  58167_003154_Endzone_frame0808.jpg  Helmet   928     29  549      23
193732  58167_003154_Endzone_frame0808.jpg  Helmet  1149     25  278      23
193733  58167_003154_Endzone_frame0808.jpg  Helmet   839     31  663      29
193734  58167_003154_Endzone_frame0808.jpg  Helmet   918     29  680      25
193735  58167_003154_Endzone_frame0808.jpg  Helmet  1090     26  688      25

[193736 rows x 6 columns]

In [28]:
image_labels.head()

                               image   label  left  width  top  height
0  57503_000116_Endzone_frame443.jpg  Helmet  1099     16  456      15
1  57503_000116_Endzone_frame443.jpg  Helmet  1117     15  478      16
2  57503_000116_Endzone_frame443.jpg  Helmet   828     16  511      15
3  57503_000116_Endzone_frame443.jpg  Helmet   746     16  519      16
4  57503_000116_Endzone_frame443.jpg  Helmet   678     17  554      17

In [29]:
image_labels.replace('^Helmet', 0, inplace=True, regex=True)

In [30]:
image_labels.head()

                               image label  left  width  top  height
0  57503_000116_Endzone_frame443.jpg     0  1099     16  456      15
1  57503_000116_Endzone_frame443.jpg     0  1117     15  478      16
2  57503_000116_Endzone_frame443.jpg     0   828     16  511      15
3  57503_000116_Endzone_frame443.jpg     0   746     16  519      16
4  57503_000116_Endzone_frame443.jpg     0   678     17  554      17

In [31]:
newSet = ['image', 'label', 'left',  'top', 'width', 'height']

image_labels = image_labels[newSet]

In [32]:
image_labels.head()

                               image label  left  top  width  height
0  57503_000116_Endzone_frame443.jpg     0  1099  456     16      15
1  57503_000116_Endzone_frame443.jpg     0  1117  478     15      16
2  57503_000116_Endzone_frame443.jpg     0   828  511     16      15
3  57503_000116_Endzone_frame443.jpg     0   746  519     16      16
4  57503_000116_Endzone_frame443.jpg     0   678  554     17      17

In [33]:
image_labels.top += image_labels.height/2
image_labels.left += image_labels.width/2

image_labels.head()

                               image label    left    top  width  height
0  57503_000116_Endzone_frame443.jpg     0  1107.0  463.5     16      15
1  57503_000116_Endzone_frame443.jpg     0  1124.5  486.0     15      16
2  57503_000116_Endzone_frame443.jpg     0   836.0  518.5     16      15
3  57503_000116_Endzone_frame443.jpg     0   754.0  527.0     16      16
4  57503_000116_Endzone_frame443.jpg     0   686.5  562.5     17      17

In [37]:
# normalize labels

imgHeight = 720
imgWidth = 1280


image_labels.top /= imgHeight
image_labels.height /= imgHeight
image_labels.left /= imgWidth
image_labels.width /= imgWidth

In [38]:
image_labels.head()

,image,label,left,top,width,height
0,57503_000116_Endzone_frame443.jpg,0,0.864844,0.643750,0.012500,0.020833
1,57503_000116_Endzone_frame443.jpg,0,0.878516,0.675000,0.011719,0.022222
2,57503_000116_Endzone_frame443.jpg,0,0.653125,0.720139,0.012500,0.020833
3,57503_000116_Endzone_frame443.jpg,0,0.589063,0.731944,0.012500,0.022222
4,57503_000116_Endzone_frame443.jpg,0,0.536328,0.781250,0.013281,0.023611

In [12]:
#helmet is label 0
#so the txt file have every entry as 0 followed by x_center y_center width height
fileBeingProcess = ''
indexToBeTxt = []
savePath = '../dataset/labels/'

def saveFileTxt(fileBeingProcess, indexToBeTxt, savePath):
    
    fileName = fileBeingProcess.replace('.jpg', '.txt')
    

    dataToTxt = image_labels.loc[indexToBeTxt]
    dataToTxt.drop('image', axis=1, inplace = True)
    dataToTxt.to_csv(os.path.join(savePath, fileName), sep='\t', index=False, header=False)
    
    return "Saved file"

for imageFile, index in zip(image_labels.image, image_labels.index):
    
    
    if fileBeingProcess == '':
        fileBeingProcess = imageFile
        countFile += 1
        
    if imageFile == fileBeingProcess:
        indexToBeTxt.append(index)
                
    else:
        saveFileTxt(fileBeingProcess, indexToBeTxt, savePath)
        
        fileBeingProcess = imageFile
        
        indexToBeTxt = []
        indexToBeTxt.append(index)
            

saveFileTxt(fileBeingProcess, indexToBeTxt, savePath)

NameError: name 'countFile' is not defined

In [ ]:
!pwd

In [ ]:
len(os.listdir('../dataset/labels/'))

In [ ]:
dataToTxt = image_labels.loc[indexToBeTxt]
print(dataToTxt)

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import matplotlib.patches as patches
# plot one img

source_img_path = '../dataset/images/'

img_source = source_img_path + dataToTxt.image.iloc[0]
img = mpimg.imread(img_source)

numpy_img = np.array(img)
print(numpy_img.shape)


# Create fig and axes

fig = plt.figure(figsize=(12.5,7.5))

ax = fig.add_subplot()
# fig, ax = plt.subplots()



height = numpy_img.shape[0]
width = numpy_img.shape[1]

  

ax.imshow(img, aspect = 'auto')

for i in range(len(dataToTxt)):
    # Create a Rectangle patch, where left is x and top is y
    rect = patches.Rectangle((dataToTxt.left.iloc[i] * width, dataToTxt.top.iloc[i] * height), dataToTxt.width.iloc[i] * width,
                             dataToTxt.height.iloc[i] * height, linewidth=1, edgecolor='r', facecolor='none')

    # Add the patch to the Axes
    ax.add_patch(rect)


plt.show()